{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4">
      {% if prompt.image_filename %}
        <img src="{{ url_for('static', filename='uploads/' + prompt.image_filename) }}" class="card-img-top" alt="Prompt Image">
      {% endif %}
    </div>
    <div class="col-md-8">
    <h1 class="display-6">{{ prompt.title }}</h1>
    
    <pre class="wrapped-text">{{ prompt.prompt }}</pre>
    <p><strong>Tags :</strong>
      {% for tag in (prompt.tags or '').split(',') %}
      <span class="btn btn-outline-secondary btn-sm">{{ tag.strip() }}</span>
      {% endfor %}
      </p>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">← Retour</a>
    <div class="mt-4 d-flex gap-2">
  <a href="{{ url_for('edit', prompt_id=prompt.id) }}" class="btn btn-warning">Modifier</a>
  <form method="POST" action="{{ url_for('delete', prompt_id=prompt.id) }}" onsubmit="return confirm('Supprimer ce prompt ?');">
    <button type="submit" class="btn btn-danger">Supprimer</button>
  </form>
</div>
  </div>

</div>
{% endblock %}